#f1{
  margin-top: 165px ;
  margin-left:150px;
  height: 100px;
  width:450px;
  padding: 1em;
  //border: 1px solid #CCC;
  //border-radius: 1em;
  //background-color:gray;
  
}
#f2{
  margin-top: -180px ;
  margin-left:750px;
  height: 100px;
  width:450px;
  padding: 1em;
  //border: 1px solid #CCC;
  //border-radius: 1em;
  //background-color:gray;
  
}

form div + div {
  margin-top: 1em;
}
body {
	background-image:url("http://localhost/groupchat/styles/grp.jpg");
	background-size: 1280px 680px;
	
}
label {
  
  display: inline-block;
  width: 90px;
  text-align: right;
  font-size: 120%;
  color:black;
}
input,textarea
{
	font: 1em sans-serif;
	width: 200px;
	box-sizing: border-box;
	border: 1px solid green;
}
.b1
{
	margin-top:20px;
	margin-left:212px;
	background-color:#0e13a0;
	height:30px;
	width:80px;
	font-size:80%;
	font-weight:bold;
	color:white;
	border: 1px solid #0e13a0;
	border-radius: 0.35em;
}
.b2
{
	margin-top:-30px;
	margin-left:100px;
	background-color:#0e13a0;
	height:30px;
	width:80px;
	font-size:80%;
	font-weight:bold;
	color:white;
	border: 1px solid #0e13a0;
	border-radius: 0.35em;
}
#one
{
	border-radius: 1em;
	color:white;
	width:auto;
	border:2px solid #0e13a0;
	text-align:left;
	
	
}
.three
{
  padding: 0.2em 0.5em;
  border:2px solid #0e13a0;
  border-radius:1em;
  color:white;
  font-size:90%;
  text-align:right;
  font-weight:bold;
  background-color: #0e13a0;
}

