body {
	background-image:url("http://localhost/groupchat/styles/p3.jpeg");
	background-size: 1280px 680px;
	
}
h1
{
	font-size:90%;
	margin-left:1000px;
	margin-top:10px;
}

#output
{
	position:fixed;
	margin-top:20px;
	margin-left:10px;
	width:1000px;
	height:250px;
	overflow:scroll;
	background:#4df25d;
	padding-left:10px;

}
#txt
{
	position:fixed;
	margin-top:280px;
	margin-left:10px;
	height:100px;
	width:1010px;
	overflow:scroll;
}

#snd
{
	position:fixed;
	margin-top:360px;
	margin-left:970px;
}

.out
{
	position:fixed;
	margin-top:-80px;
	margin-left:1070px;
	background:transparent;
	display:inline-block;
	border:none;
	cursor: pointer;

}
.out:hover
{
	background: #eee;
}
#active
{
	position:fixed;
	margin-left:1040px;
	margin-top:200px;
	height:300px;
	width:200px;
	border:2px solid blue;
	color:green;
	padding:10px;
	overflow:scroll;
	background:white;
}
#bar
{
	position:fixed;
	margin-top: 180px;
	margin-left: 1040px;
	height:20px;
	width:220px;
	border:2px solid blue;
	color:green;
	background-color:blue;
}